In [81]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./combinedData.txt',index_col=None, header=0,sep='\t')

C:\Users\brubakbd\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
df =df.drop(df.index[439542])

In [31]:
df['TOTAL'] = pd.to_numeric(df['TOTAL'])

In [49]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [50]:
df.head()

,DATE,DAY,1 am,2 am,3 am,4 am,5 am,6 am,7 am,8 am,...,7 pm,8 pm,9 pm,10 pm,11 pm,12 mid,TOTAL,Station number,Estimated,Direction
0,2002-01-01,Tuesday,3,12,4,4,4,3,1,3,...,11,9,8,10,16,5,200,8,False,East
1,2002-01-02,Wednesday,2,0,0,1,0,3,7,14,...,16,16,13,10,0,6,320,8,False,East
2,2002-01-03,Thursday,2,0,2,0,2,4,6,50,...,61,20,13,20,3,0,422,8,False,East
3,2002-01-04,Friday,4,1,1,0,0,3,5,39,...,76,48,25,49,25,28,646,8,False,East
4,2002-01-05,Saturday,6,7,3,1,0,2,11,8,...,15,16,16,8,14,8,297,8,False,East

In [51]:
gp = df.groupby(['Station number','Direction'])

In [83]:
gp.mean().T.drop(['TOTAL','Estimated']).mean()

Station number  Direction
8               East           10.530693
                North           8.089286
                South           6.849702
                West            9.500053
26              North         411.546680
                South         414.060354
27              East          109.721899
                West          114.962836
28              East          193.490914
                North         191.016026
                South         176.897436
                West          192.468129
29              North         174.536438
                South         160.859870
30              North         158.878125
                South         167.277604
31              East          114.256784
                West          112.610796
32              North         581.612879
                South         582.462183
33              East          102.499173
                West          104.051206
34              North          62.647045
                South          63.684363
35              East          115.776599
                West          115.903025
36              East          783.707955
                West          806.980886
38              North         594.723423
                South         616.746105
                                ...
386             North         140.502806
                South         139.978167
388             North         397.351912
                South         398.852041
389             North         888.980478
                South         859.039651
390             North         210.483947
                South         201.475977
400             North          38.031598
                South          38.726798
402             North         431.036617
                South         418.878825
405             North        1915.000084
                South        1916.136270
407             East          380.895084
                West          376.751939
410             North          59.773339
                South          60.956926
420             East          590.711231
                West          619.555561
422             East          167.494135
                West          164.755732
425             East          465.962060
                West          484.925830
458             East          186.743209
                West          183.037887
460             East          121.272769
                West          123.856627
464             East          426.466676
                West          422.184059
Length: 220, dtype: float64