In [1]:
import plotly.plotly as py
import numpy as np
import plotly.graph_objs as go
import pandas as pd

In [3]:
df = pd.read_csv('./combinedData.csv')

In [4]:
df.head()

,DATE,DAY,1 am,2 am,3 am,4 am,5 am,6 am,7 am,8 am,...,10 pm,11 pm,12 mid,TOTAL,Station number,Estimated,Direction,STATION,COUNTY,RETIRED
0,"Jan 1, 2002",Tuesday,3,12,4,4,4,3,1,3,...,10,16,5,200,8,False,East,8,Norman,False
1,"Jan 2, 2002",Wednesday,2,0,0,1,0,3,7,14,...,10,0,6,320,8,False,East,8,Norman,False
2,"Jan 3, 2002",Thursday,2,0,2,0,2,4,6,50,...,20,3,0,422,8,False,East,8,Norman,False
3,"Jan 4, 2002",Friday,4,1,1,0,0,3,5,39,...,49,25,28,646,8,False,East,8,Norman,False
4,"Jan 5, 2002",Saturday,6,7,3,1,0,2,11,8,...,8,14,8,297,8,False,East,8,Norman,False

In [5]:
group = df.groupby(['DAY','COUNTY'])

In [18]:
counties = sorted(df['COUNTY'].unique())
counties

['Aitkin',
 'Anoka',
 'Beltrami',
 'Benton',
 'Carver',
 'Cass',
 'Chippewa',
 'Chisago',
 'Clay',
 'Clearwater',
 'Cottonwood',
 'Crow Wing',
 'Dakota',
 'Dodge',
 'Freeborn',
 'Grant',
 'Hennepin',
 'Hubbard',
 'Itasca',
 'Lake',
 'Lyon',
 'McLeod',
 'Mille Lacs',
 'Norman',
 'Olmsted',
 'Ottertail',
 'Pipestone',
 'Polk',
 'Ramsey',
 'Renville',
 'Rice',
 'Scott',
 'Sibley',
 'St Louis',
 'Stearns',
 'Steele',
 'Wadena',
 'Washington',
 'Watonwan',
 'Winona',
 'Wright']

In [44]:
df2 = group.mean()
df2 = df2.drop(['TOTAL', 'Station number', 'Estimated', 'STATION','RETIRED'],axis=1)
df2.head()

                       1 am       2 am       3 am       4 am        5 am  \
DAY    COUNTY
Friday Aitkin      3.876117   2.502554   2.124521   2.907407    5.063218
       Anoka     114.092013  82.777157  71.412141  86.476038  200.844728
       Beltrami    3.893997   2.918263   2.907407   2.692209    4.277778
       Benton     75.786079  53.571520  41.911877  45.426564   82.824393
       Carver     31.829795  20.594070  18.021962  21.183382   46.179356

                       6 am         7 am         8 am        9 am       10 am  \
DAY    COUNTY
Friday Aitkin      9.207535    16.532567    27.779055   37.263091   49.322478
       Anoka     611.259585  1007.123642  1068.431789  879.440096  840.718690
       Beltrami    9.505747    23.123244    32.953384   33.332056   37.925287
       Benton    180.470626   367.549170   536.374202  529.068966  612.025543
       Carver    139.837116   280.676428   371.946925  283.946559  254.677892

                    ...             3 pm         4 pm         5 pm  \
DAY    COUNTY       ...
Friday Aitkin       ...        95.843550   103.457854   111.457216
       Anoka        ...      1227.891853  1393.239617  1442.622843
       Beltrami     ...        47.397190    55.130907    55.142401
       Benton       ...       996.443806  1069.517241  1113.144955
       Carver       ...       322.741215   420.966325   471.507687

                        6 pm         7 pm        8 pm        9 pm       10 pm  \
DAY    COUNTY
Friday Aitkin     120.605364   120.975096  113.854406   87.233078   49.361430
       Anoka     1367.338658  1106.607668  787.703035  604.224121  516.129233
       Beltrami    51.185185    38.879949   28.826309   23.145594   18.822478
       Benton    1091.167944   944.919540  804.255428  618.180715  414.968710
       Carver     458.435578   350.276354  243.946559  192.505857  172.413616

                      11 pm      12 mid
DAY    COUNTY
Friday Aitkin     25.943167   13.634100
       Anoka     401.732907  284.825879
       Beltrami   13.063218    8.473819
       Benton    255.502554  158.739464
       Carver    127.127379   83.904466

[5 rows x 24 columns]

In [45]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
df2.loc['Friday']

,1 am,2 am,3 am,4 am,5 am,6 am,7 am,8 am,9 am,10 am,...,3 pm,4 pm,5 pm,6 pm,7 pm,8 pm,9 pm,10 pm,11 pm,12 mid
COUNTY,,,,,,,,,,,,,,,,,,,,,
Aitkin,3.876117,2.502554,2.124521,2.907407,5.063218,9.207535,16.532567,27.779055,37.263091,49.322478,...,95.843550,103.457854,111.457216,120.605364,120.975096,113.854406,87.233078,49.361430,25.943167,13.634100
Anoka,114.092013,82.777157,71.412141,86.476038,200.844728,611.259585,1007.123642,1068.431789,879.440096,840.718690,...,1227.891853,1393.239617,1442.622843,1367.338658,1106.607668,787.703035,604.224121,516.129233,401.732907,284.825879
Beltrami,3.893997,2.918263,2.907407,2.692209,4.277778,9.505747,23.123244,32.953384,33.332056,37.925287,...,47.397190,55.130907,55.142401,51.185185,38.879949,28.826309,23.145594,18.822478,13.063218,8.473819
Benton,75.786079,53.571520,41.911877,45.426564,82.824393,180.470626,367.549170,536.374202,529.068966,612.025543,...,996.443806,1069.517241,1113.144955,1091.167944,944.919540,804.255428,618.180715,414.968710,255.502554,158.739464
Carver,31.829795,20.594070,18.021962,21.183382,46.179356,139.837116,280.676428,371.946925,283.946559,254.677892,...,322.741215,420.966325,471.507687,458.435578,350.276354,243.946559,192.505857,172.413616,127.127379,83.904466
Cass,19.372432,12.617295,9.466610,8.689212,10.753425,25.511986,55.200342,115.578767,117.558219,135.257705,...,198.167808,209.356164,216.312500,191.474315,161.194349,127.341610,109.925514,93.826199,68.107021,44.387842
Chippewa,5.754970,4.358254,4.234226,4.592913,6.731201,15.917027,27.333621,46.622731,45.309853,50.091616,...,73.678479,80.097666,86.878997,82.356525,67.696197,48.185825,35.890666,30.428695,21.778306,14.158168
Chisago,114.955619,76.717433,65.703704,83.338123,200.364943,614.594508,847.897829,892.519796,782.016603,823.891443,...,1302.901980,1467.075990,1549.171456,1485.019796,1253.775543,916.176245,657.354406,510.788953,390.166028,270.278416
Clay,51.167464,34.543062,26.729665,26.092105,46.614833,115.228469,309.907895,573.606459,469.534689,451.852871,...,631.848086,731.084928,801.925837,827.562201,631.311005,434.783493,330.104067,273.763158,192.593301,128.630383
Clearwater,15.259387,11.487739,8.620307,11.656705,12.867433,36.447510,67.901916,117.077011,121.113410,133.399234,...,206.371648,228.275479,238.458238,234.004215,190.920690,144.844444,108.209962,86.585441,61.847510,41.753257
Cottonwood,1.060274,0.821918,0.563014,0.647260,0.888356,2.652055,6.333562,11.958904,12.969178,13.156164,...,14.815068,16.430137,16.015753,15.928082,13.176712,9.106164,7.046575,6.970548,5.054795,3.332192
Crow Wing,1.870370,1.294381,0.787995,0.831418,1.792465,7.002554,17.507663,31.086207,29.656450,29.761175,...,39.282248,45.524266,43.648787,39.428480,29.233078,20.031928,16.363346,13.626437,10.040868,6.393359
Dakota,176.982129,114.456951,100.591232,99.531694,172.895636,520.989633,1195.984005,1572.217121,1339.824645,1225.213270,...,1657.203298,1915.654423,2089.639021,2022.799269,1590.490719,1132.378555,894.096663,806.515205,630.518760,428.346268
Dodge,1.715851,1.165593,0.893041,1.072809,2.603093,4.581186,11.916237,13.391108,11.092139,11.891753,...,14.079897,15.849227,17.550258,15.855026,11.987758,8.138531,6.475515,5.664948,4.050258,3.143041
Freeborn,50.768188,38.226819,33.114123,34.577033,47.962910,83.264622,142.181170,216.786020,243.990014,291.149786,...,424.674037,446.121969,447.296006,425.517832,361.564194,286.434379,224.661912,172.407275,124.330243,88.534950
Grant,0.803571,0.464286,0.316964,0.350446,0.823661,2.142857,5.522321,12.493304,10.879464,11.212054,...,14.178571,14.600446,16.613839,16.383929,11.691964,8.279018,6.250000,4.930804,3.776786,2.875000
Hennepin,366.394476,245.415414,197.987248,179.662991,318.901047,935.630471,1990.379218,2587.292961,2403.902550,2174.227420,...,2596.785277,2668.769518,2669.585422,2585.661488,2315.836452,1792.382225,1434.857055,1392.730092,1203.419534,838.406950
Hubbard,6.201651,4.578661,3.247284,3.191004,4.013038,10.162755,24.999131,44.702303,49.055411,56.860713,...,83.766189,90.371578,92.080617,86.894394,70.966319,56.765754,44.210126,34.931986,25.762060,16.644285
Itasca,9.646199,6.520955,5.903996,7.893762,12.102339,26.484893,48.375244,63.975634,76.646686,93.067251,...,131.298733,143.023879,145.088207,134.187622,109.038012,83.973197,66.233918,51.692982,35.574074,21.192495
Lake,10.330521,6.277607,5.503834,6.360429,10.085890,29.022623,76.876917,105.361196,89.517255,104.010353,...,152.874233,171.431748,171.715491,155.861196,119.088957,91.462807,77.891104,66.239647,47.590874,28.533742
Lyon,6.231801,5.207535,3.974457,5.022989,7.965517,17.492337,42.073436,67.959132,61.604725,62.227969,...,80.947637,87.079821,96.510217,101.565134,83.901022,57.220307,44.655172,39.524266,31.413155,20.869093
McLeod,3.200000,2.616667,1.516667,1.922917,3.968750,16.075000,23.068750,32.372917,28.906250,29.693750,...,39.929167,46.962500,50.097917,50.137500,40.177083,27.714583,22.375000,20.329167,13.410417,9.081250
Mille Lacs,40.966438,28.329452,21.133562,19.752055,34.692466,63.376027,112.569863,202.043836,239.839041,298.005479,...,535.905479,569.630137,585.898630,590.744521,562.471233,516.796575,392.982877,253.780137,172.500685,116.625342
Norman,1.160737,0.820839,0.531131,0.395807,0.390089,2.310038,5.274460,15.459339,14.777001,14.249682,...,16.638501,24.056544,21.793520,21.452986,16.967598,12.625159,10.893901,11.566709,6.550191,3.815756
Olmsted,93.136115,66.664501,49.798564,63.169631,126.752394,282.544118,648.832763,908.696306,706.939124,663.423735,...,947.180575,1102.787620,1227.523940,1183.509234,874.063953,617.295144,480.823529,424.613201,313.441518,216.983242
Ottertail,7.190932,4.488506,4.395913,4.508940,7.409323,22.598340,46.073436,93.239464,83.769476,90.746488,...,118.690932,128.185185,134.752235,128.995530,98.270115,72.340358,55.370370,51.179438,34.249681,21.928480
Pipestone,3.734355,2.477011,1.789911,2.442529,5.899106,17.947637,28.878672,51.583014,48.532567,48.789272,...,60.098978,64.197318,68.560664,64.124521,48.498084,34.236271,25.983397,22.157727,17.128352,11.386335
Polk,5.483896,3.960260,4.106753,3.372987,5.363896,11.852987,27.600260,44.883636,39.765974,39.877662,...,54.664675,60.427532,64.379481,61.440000,46.468571,32.867273,25.757922,22.430909,16.948312,12.051169
Ramsey,463.276022,310.078544,265.070722,220.212165,354.126437,1072.487867,2378.097701,3111.871328,2904.300766,2602.150862,...,3410.737388,3487.775064,3442.094508,3243.029055,2798.904693,2118.712963,1709.890805,1676.454662,1509.014527,1086.979246
Renville,11.911267,8.353093,8.907216,8.292710,13.053756,29.493373,54.393962,99.446981,102.612666,106.074742,...,145.753682,159.583579,156.696613,147.164580,116.991900,91.860825,69.891016,56.064065,40.035346,27.080633
Rice,7.573333,4.771111,3.944444,6.882222,14.988889,45.428889,70.695556,97.802222,62.106667,53.797778,...,73.728889,91.488889,107.420000,105.204444,80.028889,55.297778,42.311111,38.613333,29.231111,19.295556
Scott,52.829502,35.774904,29.043423,33.357918,64.913474,181.393040,327.205619,381.320562,329.633142,329.347701,...,482.657407,553.497765,601.867816,585.714879,464.551724,328.839400,248.795338,211.991379,173.065773,120.873244
Sibley,3.533019,2.702830,2.167453,3.676887,8.976415,17.745283,31.698113,42.306604,34.889151,36.926887,...,52.655660,63.981132,68.160377,64.865566,47.257075,32.160377,24.563679,20.886792,15.665094,9.235849
St Louis,87.244115,58.971019,51.738576,42.819090,65.029476,172.603660,412.699110,687.771316,616.279327,611.400692,...,916.887735,1013.151731,1053.560831,913.060040,693.373492,535.246093,452.064590,400.266073,303.482690,215.512562
Stearns,74.426884,54.161877,48.305556,48.767241,65.213921,114.408046,207.527139,366.335249,386.640166,447.731162,...,743.416028,785.383461,808.157407,750.905172,629.376117,533.424649,432.525223,323.288953,212.579821,142.947957
Steele,139.623293,110.593574,100.763052,115.246988,174.641365,311.567068,478.638554,658.195582,655.414458,760.965863,...,1164.934137,1238.949799,1281.834940,1189.567068,1006.631727,791.703614,620.571888,484.032129,364.383534,256.923293
Wadena,1.183761,0.944444,0.564103,0.670940,1.079060,1.816239,3.711538,7.564103,7.767094,9.391026,...,12.775641,13.551282,13.903846,14.224359,13.756410,9.756410,7.820513,6.769231,5.386752,3.391026
Washington,152.945782,105.035557,92.775729,98.581051,176.639024,505.242270,1092.507288,1376.065150,1166.677672,1056.985976,...,1465.984320,1684.132178,1764.273852,1641.223167,1287.577518,912.225044,718.747350,649.241497,511.226701,355.988074
Watonwan,28.245536,21.920281,19.032526,18.001276,26.595026,50.624362,82.031250,108.914541,122.580357,143.151148,...,220.737883,238.703444,238.994260,225.177296,193.839923,157.266582,121.593112,90.378827,64.198342,43.181760
Winona,31.233516,35.167582,37.585165,25.747253,60.398352,157.888736,272.895604,408.864011,283.850275,273.994505,...,436.949176,493.501374,548.182692,499.885989,365.364011,246.898352,191.063187,160.684066,130.774725,100.537088
Wright,217.217123,155.780822,141.551370,161.367808,275.013699,540.530822,750.944521,977.459589,1051.898630,1198.409589,...,1821.424658,1900.630137,1947.213014,1905.002055,1696.610959,1413.989726,1066.686986,792.264384,589.647945,401.173288

In [57]:
np.array(df2.loc['Friday'].loc['Aitkin'])

array([   3.8761175 ,    2.50255428,    2.12452107,    2.90740741,
          5.06321839,    9.20753512,   16.53256705,   27.77905492,
         37.26309068,   49.32247765,   64.06641124,   73.43678161,
         78.46615581,   85.05363985,   95.84355045,  103.45785441,
        111.45721584,  120.60536398,  120.97509579,  113.85440613,
         87.23307791,   49.3614304 ,   25.94316731,   13.63409962])

In [67]:
data = [go.Bar(
            visible = False,
            x=df2.columns,
            y=df2.loc['Sunday'].loc['Aitkin']
    ) for day in days]
data[1]['visible'] = True
layout = go.Layout(
    barmode='group'
)
py.iplot(data, filename='Single Sine Wave',layout=layout)

In [70]:
data = []
for day in days:
    for county in counties:
        bar = go.Bar(
            name = county,
            visible = False,
            x=df2.columns,
            y=df2.loc[day].loc[county]
        )
        data.append(bar)
for i in range(41):
    data[i]['visible'] = True
layout = go.Layout(
    barmode='group'
)
py.iplot(data, filename='County Traffic Plot',layout=layout)

In [73]:
steps = []
for i in range(7):
    step = dict(
        method = 'restyle',
        args = ['visible', [False] * len(data)],
        label=days[i]
    )
    for k in range(i*41,(i+1)*41):
        step['args'][1][k] = True # Toggle i'th trace to "visible"
    steps.append(step)

sliders = [dict(
    active = 0,
    currentvalue = {"prefix": "Day: "},
    pad = {"t": 50},
    steps = steps
)]

layout = dict(sliders=sliders)

fig = dict(data=data, layout=layout)

py.iplot(fig, filename='County Slider Plot')

[{'name': 'Aitkin',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am        4.816496
  2 am        3.101662
  3 am        1.895780
  4 am        1.360614
  5 am        1.707801
  6 am        3.436701
  7 am        7.526215
  8 am       16.762788
  9 am       33.400256
  10 am      58.496803
  11 am      89.703964
  Noon      111.827366
  1 pm      124.802430
  2 pm      133.340793
  3 pm      134.714194
  4 pm      132.634910
  5 pm      125.909207
  6 pm      109.102941
  7 pm       88.420716
  8 pm       64.290921
  9 pm       39.739770
  10 pm      20.971228
  11 pm      10.912404
  12 mid      5.541560
  Name: Aitkin, dtype: float64},
 {'name': 'Anoka',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       182.914587
  2 am       120.858925
  3 am        81.613244
  4 am        57.638196
  5 am        57.290307
  6 am        90.728727
  7 am       148.803423
  8 am       227.460493
  9 am       367.867402
  10 am      539.344370
  11 am      773.285669
  Noon       897.313660
  1 pm      1021.238644
  2 pm       996.730326
  3 pm       993.034389
  4 pm      1023.993282
  5 pm      1034.886116
  6 pm       967.665707
  7 pm       835.019994
  8 pm       693.604766
  9 pm       547.316059
  10 pm      406.869802
  11 pm      263.904830
  12 mid     148.891075
  Name: Anoka, dtype: float64},
 {'name': 'Beltrami',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       5.291560
  2 am       4.930307
  3 am       3.508951
  4 am       1.783248
  5 am       1.666240
  6 am       3.482097
  7 am       5.668798
  8 am       9.711637
  9 am      19.122762
  10 am     26.180946
  11 am     32.130435
  Noon      37.638107
  1 pm      39.354220
  2 pm      38.863171
  3 pm      39.792199
  4 pm      40.193095
  5 pm      38.864450
  6 pm      35.821611
  7 pm      29.973146
  8 pm      23.268542
  9 pm      17.418159
  10 pm     11.997442
  11 pm      6.833120
  12 mid     3.845269
  Name: Beltrami, dtype: float64},
 {'name': 'Benton',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am        87.077366
  2 am        57.031330
  3 am        37.376598
  4 am        26.530691
  5 am        28.288363
  6 am        46.874680
  7 am        92.294118
  8 am       163.990409
  9 am       278.555627
  10 am      479.603581
  11 am      709.959719
  Noon       893.089514
  1 pm       970.565857
  2 pm      1013.767903
  3 pm      1040.865090
  4 pm      1059.944373
  5 pm      1049.547954
  6 pm       970.246803
  7 pm       840.988491
  8 pm       682.840793
  9 pm       499.134910
  10 pm      316.476343
  11 pm      180.111253
  12 mid      97.945652
  Name: Benton, dtype: float64},
 {'name': 'Carver',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       52.527859
  2 am       33.103006
  3 am       20.146261
  4 am       14.485704
  5 am       15.373534
  6 am       26.713710
  7 am       39.483138
  8 am       72.784091
  9 am      132.004765
  10 am     205.505499
  11 am     261.887463
  Noon      290.637463
  1 pm      300.048387
  2 pm      287.641496
  3 pm      286.947214
  4 pm      302.470308
  5 pm      315.762830
  6 pm      298.785924
  7 pm      262.216642
  8 pm      215.445381
  9 pm      167.942815
  10 pm     120.923021
  11 pm      71.956378
  12 mid     40.007331
  Name: Carver, dtype: float64},
 {'name': 'Cass',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       27.693299
  2 am       17.990550
  3 am       10.907216
  4 am        7.344502
  5 am        6.752577
  6 am       13.318729
  7 am       24.131443
  8 am       42.323883
  9 am       79.853952
  10 am     114.179553
  11 am     146.673540
  Noon      172.834192
  1 pm      174.346220
  2 pm      172.517182
  3 pm      170.419244
  4 pm      170.022337
  5 pm      159.359966
  6 pm      135.059278
  7 pm      117.555842
  8 pm       90.664948
  9 pm       69.859966
  10 pm      50.896048
  11 pm      35.056701
  12 mid     22.439863
  Name: Cass, dtype: float64},
 {'name': 'Chippewa',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       8.481385
  2 am       5.825974
  3 am       3.980087
  4 am       3.676190
  5 am       3.159740
  6 am       3.865368
  7 am       6.100000
  8 am      11.042424
  9 am      21.591775
  10 am     31.173160
  11 am     44.125974
  Noon      55.680952
  1 pm      56.393506
  2 pm      59.340260
  3 pm      63.896537
  4 pm      68.852814
  5 pm      71.138528
  6 pm      65.460606
  7 pm      54.440693
  8 pm      44.029004
  9 pm      32.651515
  10 pm     21.593074
  11 pm     13.467532
  12 mid     7.783983
  Name: Chippewa, dtype: float64},
 {'name': 'Chisago',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       171.946292
  2 am       113.640985
  3 am        76.187340
  4 am        57.819054
  5 am        61.949488
  6 am        99.858696
  7 am       153.230818
  8 am       248.180946
  9 am       415.170396
  10 am      637.360614
  11 am      911.091752
  Noon      1102.393223
  1 pm      1209.765985
  2 pm      1231.684143
  3 pm      1228.554987
  4 pm      1251.042519
  5 pm      1269.260550
  6 pm      1176.137468
  7 pm      1008.655051
  8 pm       835.154092
  9 pm       644.414003
  10 pm      454.988811
  11 pm      281.348146
  12 mid     161.264066
  Name: Chisago, dtype: float64},
 {'name': 'Clay',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       81.423261
  2 am       53.169065
  3 am       35.249400
  4 am       23.442446
  5 am       22.177458
  6 am       34.670264
  7 am       63.675060
  8 am       98.380096
  9 am      173.922062
  10 am     259.424460
  11 am     372.496403
  Noon      484.630695
  1 pm      535.617506
  2 pm      539.263789
  3 pm      539.064748
  4 pm      564.784173
  5 pm      592.597122
  6 pm      574.550360
  7 pm      500.308153
  8 pm      416.346523
  9 pm      326.146283
  10 pm     238.128297
  11 pm     147.466427
  12 mid     78.816547
  Name: Clay, dtype: float64},
 {'name': 'Clearwater',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       20.524559
  2 am       14.123561
  3 am        8.767843
  4 am        7.074827
  5 am        6.781274
  6 am       11.670376
  7 am       18.328089
  8 am       27.566002
  9 am       53.955871
  10 am      87.996546
  11 am     120.668074
  Noon      150.659248
  1 pm      168.810054
  2 pm      174.037989
  3 pm      179.441289
  4 pm      187.042978
  5 pm      187.505756
  6 pm      176.179202
  7 pm      152.480046
  8 pm      121.710668
  9 pm       89.648503
  10 pm      62.787797
  11 pm      38.035303
  12 mid     21.784728
  Name: Clearwater, dtype: float64},
 {'name': 'Cottonwood',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       2.537671
  2 am       2.368493
  3 am       1.291781
  4 am       1.124658
  5 am       0.888356
  6 am       1.277397
  7 am       1.649315
  8 am       2.446575
  9 am       5.616438
  10 am      7.000685
  11 am     10.626027
  Noon      13.213699
  1 pm      11.919863
  2 pm      11.206849
  3 pm      10.634247
  4 pm      11.314384
  5 pm      11.263699
  6 pm      11.195205
  7 pm       9.804795
  8 pm       8.095205
  9 pm       6.165068
  10 pm      4.467808
  11 pm      2.866438
  12 mid     1.606164
  Name: Cottonwood, dtype: float64},
 {'name': 'Crow Wing',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       4.113811
  2 am       3.111253
  3 am       2.173274
  4 am       1.137468
  5 am       1.117008
  6 am       2.897059
  7 am       3.735934
  8 am       8.511509
  9 am      15.663683
  10 am     24.975064
  11 am     29.501279
  Noon      34.125320
  1 pm      36.304987
  2 pm      32.991049
  3 pm      31.132353
  4 pm      31.592072
  5 pm      31.365090
  6 pm      25.564578
  7 pm      19.750639
  8 pm      15.008312
  9 pm      11.376598
  10 pm      8.159847
  11 pm      4.978261
  12 mid     2.777494
  Name: Crow Wing, dtype: float64},
 {'name': 'Dakota',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       274.800079
  2 am       171.833399
  3 am       121.062587
  4 am        83.786929
  5 am        78.629622
  6 am       127.445719
  7 am       217.774570
  8 am       346.595017
  9 am       557.405873
  10 am      813.137038
  11 am     1122.138026
  Noon      1286.787819
  1 pm      1431.529365
  2 pm      1396.649397
  3 pm      1394.923670
  4 pm      1442.543207
  5 pm      1456.173423
  6 pm      1328.127645
  7 pm      1131.160570
  8 pm       929.271307
  9 pm       744.486257
  10 pm      576.143267
  11 pm      388.612418
  12 mid     237.277635
  Name: Dakota, dtype: float64},
 {'name': 'Dodge',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       2.116129
  2 am       1.367742
  3 am       0.767097
  4 am       0.509032
  5 am       0.605806
  6 am       0.976129
  7 am       1.878710
  8 am       3.557419
  9 am       4.804516
  10 am      7.583226
  11 am      8.646452
  Noon      10.825806
  1 pm      10.549032
  2 pm       9.962581
  3 pm      10.133548
  4 pm      10.666452
  5 pm      11.559355
  6 pm      10.484516
  7 pm       9.178065
  8 pm       7.382581
  9 pm       5.755484
  10 pm      3.872258
  11 pm      2.427742
  12 mid     1.350968
  Name: Dodge, dtype: float64},
 {'name': 'Freeborn',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       50.382143
  2 am       34.517143
  3 am       24.604286
  4 am       19.890714
  5 am       20.496429
  6 am       28.197143
  7 am       47.968571
  8 am       83.022143
  9 am      141.228571
  10 am     211.037857
  11 am     286.991429
  Noon      342.091429
  1 pm      365.787143
  2 pm      389.020714
  3 pm      412.127857
  4 pm      429.832857
  5 pm      429.548571
  6 pm      397.784286
  7 pm      337.712143
  8 pm      268.877857
  9 pm      202.354286
  10 pm     142.933571
  11 pm      93.993571
  12 mid     61.794286
  Name: Freeborn, dtype: float64},
 {'name': 'Grant',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       1.080717
  2 am       0.636771
  3 am       0.439462
  4 am       0.316143
  5 am       0.291480
  6 am       0.623318
  7 am       1.260090
  8 am       2.775785
  9 am       3.847534
  10 am      5.457399
  11 am      7.912556
  Noon       9.923767
  1 pm       9.419283
  2 pm       9.502242
  3 pm       9.852018
  4 pm      10.403587
  5 pm      10.948430
  6 pm       9.883408
  7 pm       8.192825
  8 pm       6.901345
  9 pm       5.107623
  10 pm      3.468610
  11 pm      1.773543
  12 mid     1.029148
  Name: Grant, dtype: float64},
 {'name': 'Hennepin',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       568.595963
  2 am       386.880172
  3 am       303.700011
  4 am       188.269042
  5 am       159.184677
  6 am       238.116650
  7 am       376.978588
  8 am       547.082246
  9 am       852.918033
  10 am     1240.241329
  11 am     1688.239378
  Noon      1931.568975
  1 pm      2145.398628
  2 pm      2121.934817
  3 pm      2106.081354
  4 pm      2147.905654
  5 pm      2149.594179
  6 pm      1987.137393
  7 pm      1735.435541
  8 pm      1450.205699
  9 pm      1223.502286
  10 pm     1032.122951
  11 pm      752.287666
  12 mid     472.718691
  Name: Hennepin, dtype: float64},
 {'name': 'Hubbard',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       9.193647
  2 am       6.927111
  3 am       4.087685
  4 am       2.711923
  5 am       2.548085
  6 am       5.069408
  7 am       9.178198
  8 am      16.653612
  9 am      28.013055
  10 am     44.922324
  11 am     61.176675
  Noon      74.369887
  1 pm      78.854656
  2 pm      78.944517
  3 pm      79.226501
  4 pm      79.510444
  5 pm      76.309617
  6 pm      66.681897
  7 pm      54.339643
  8 pm      41.964099
  9 pm      30.626632
  10 pm     21.720627
  11 pm     13.763055
  12 mid     8.515013
  Name: Hubbard, dtype: float64},
 {'name': 'Itasca',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am        9.994141
  2 am        6.932129
  3 am        4.515625
  4 am        3.752930
  5 am        4.729980
  6 am        8.600586
  7 am       14.416504
  8 am       24.691406
  9 am       44.653320
  10 am      68.830566
  11 am      94.156250
  Noon      111.468262
  1 pm      121.389160
  2 pm      124.344238
  3 pm      124.305664
  4 pm      124.492676
  5 pm      120.863281
  6 pm      108.212402
  7 pm       89.429688
  8 pm       71.718262
  9 pm       52.066895
  10 pm      34.669434
  11 pm      22.287109
  12 mid     13.894043
  Name: Itasca, dtype: float64},
 {'name': 'Lake',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       13.309049
  2 am        9.131135
  3 am        5.964724
  4 am        4.562117
  5 am        4.904141
  6 am        9.873466
  7 am       19.251150
  8 am       29.891488
  9 am       49.244248
  10 am      81.004218
  11 am     115.010353
  Noon      139.569785
  1 pm      154.101610
  2 pm      153.739264
  3 pm      152.426764
  4 pm      146.578604
  5 pm      133.843942
  6 pm      114.895322
  7 pm       92.175230
  8 pm       68.398390
  9 pm       49.096626
  10 pm      35.382285
  11 pm      25.029141
  12 mid     13.818635
  Name: Lake, dtype: float64},
 {'name': 'Lyon',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am      11.144501
  2 am       8.064578
  3 am       4.423274
  4 am       3.000639
  5 am       3.190537
  6 am       4.409847
  7 am       8.799872
  8 am      15.766624
  9 am      31.299233
  10 am     40.923913
  11 am     57.326726
  Noon      67.597187
  1 pm      67.253836
  2 pm      67.255115
  3 pm      70.113811
  4 pm      74.724425
  5 pm      77.620205
  6 pm      72.054987
  7 pm      60.906010
  8 pm      50.198210
  9 pm      39.205243
  10 pm     28.565857
  11 pm     17.030051
  12 mid     9.519182
  Name: Lyon, dtype: float64},
 {'name': 'McLeod',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',
         '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm', '12 mid'],
        dtype='object'),
  'y': 1 am       5.119247
  2 am       3.441423
  3 am       1.889121
  4 am       1.305439
  5 am       1.502092
  6 am       4.625523
  7 am       6.533473
  8 am      10.112971
  9 am      16.523013
  10 am     23.000000
  11 am     27.592050
  Noon      35.817992
  1 pm      36.707113
  2 pm      35.803347
  3 pm      35.196653
  4 pm      36.504184
  5 pm      35.060669
  6 pm      32.211297
  7 pm      28.813808
  8 pm      21.874477
  9 pm      15.525105
  10 pm     12.179916
  11 pm      7.207113
  12 mid     3.558577
  Name: McLeod, dtype: float64},
 {'name': 'Mille Lacs',
  'type': 'bar',
  'visible': True,
  'x': Index(['1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am',
         '10 am', '11 am', 'Noon', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm',